@import url("//hello.myfonts.net/count/3cbb4f");

@font-face {
  font-family: "Recoleta-Bold";
  src: url("../public/fonts/Recoleta-Bold/font.woff2") format("woff2"),
    url("../public/fonts/Recoleta-Bold/font.woff") format("woff");
}
@font-face {
  font-family: "Recoleta-Medium";
  src: url("../public/fonts/Recoleta-Medium/font.woff2") format("woff2"),
    url("../public/fonts/Recoleta-Medium/font.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif;
}
